@keyframes fadeOutSmooth {
0% { opacity: 1; transform: scale(1); filter: blur(0); }
100% { opacity: 0; transform: scale(0.92) translateY(10px); filter: blur(6px); }
}


@keyframes fadeIn {
from { opacity: 0; transform: scale(0.97); }
to { opacity: 1; transform: scale(1); }
}
.viewer-overlay { position: fixed; inset: 0; background: rgba(0,0,0,0.8); display: flex; justify-content: center; align-items: center; }
.viewer-box { position: relative; background: white; padding: 20px; border-radius: 10px; max-width: 90%; }
.viewer-box img {
    width: 1300px;
    height: 700px;
    object-fit: cover;
    background: #000;
    border-radius: 14px;
    display: block;
    margin: auto;
}
/* Zoom desativado */
.close-btn { 
    position: absolute; 
    top: 50px; 
    right: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 50px;
    border: 3px solid #fff;
    padding: 5px 10px; 
    font-size: 32px; 
    cursor: pointer; 
}
.download-btn { 
    margin-top: 20px; 
    padding: 10px 20px; 
    background: #bda462; 
    border: none; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 8px; 
}
.download-btn:hover { background: #ebbd3e; }

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bot {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left, .right {
    margin-top: 10px;
    font-size: 26px;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 1400px) {
.viewer-box img {
width: 1000px;
height: 600px;
}
}
@media (max-width: 1100px) {
.viewer-box img {
width: 800px;
height: 480px;
}
}
@media (max-width: 820px) {
.viewer-box {
padding: 10px;
}
.viewer-box img {
width: 600px;
height: 360px;
}
}
@media (max-width: 620px) {
.viewer-box img {
width: 100%;
height: auto;
}
}
@media (max-width: 480px) {
.bottom {
flex-direction: column;
gap: 20px;
}
.bot {
gap: 20px;
}
.left, .right {
font-size: 20px;
padding: 6px 14px;
}
.close-btn {
font-size: 26px;
padding: 4px 8px;
}
}