.navbar { 
    width: 100%; 
    padding: 20px; 
    background: #00000080; 
    position: fixed; 
    top: 0; 
    z-index: 10; 
}

.navbar ul { 
    display: flex; 
    gap: 30px; 
    list-style: none; 
    justify-content: center; 
}

.navbar a { 
    color: white; 
    font-weight: bold; 
    text-decoration: none; 
    font-size: 18px; 
}

    .navbar a:hover { 
    color: #bda462; 
}